# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/
*.egg-info/
*.egg
dist/
build/

# Data
data/
outputs/
logs/

# Notebook checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
